#!/usr/bin/env ruby

# FOR REFERENCE PURPOSES
#
# Sometimes you want to run multiple hooks within one Git hook. For example,
# on my pre-commit hook I'd like to do two things.
#  1. Run my unit tests
#  2. Bump my revision number in my version number (eg. v0.1.2 => v0.1.3)
#
# I'd like it to be such that if any step in this process fails, the hook
# stops processing and returns a non-zero status code (aborting the commit)



# Run unit tests
system('bundle exec rake')
unless $? == 0
  exit(1)
end

# Get project's root path
file_path    = File.expand_path('../', __FILE__)
bump_version = File.join(file_path, 'bump-version')

# Bump revision number
system("#{bump_version}")
unless $? == 0
  exit(1)
end


#explicit exit
exit(0)
